In [1]:
import pandas as pd

In [12]:
from pandas import read_csv, DataFrame, Series
titanic = read_csv('titanic.csv')

In [13]:
print(titanic.groupby(['Sex','Pclass'])['PassengerId'].count()) # Определить пассажиров мужского пола из первого класса.

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: PassengerId, dtype: int64

In [14]:
titanic.PassengerId[titanic.Pclass == 1].count() #[t.Sex == 'Male']

216

In [15]:
# Определить количество детей из второго класса

In [16]:
titanic[titanic.Age < 16].groupby(['Pclass'])['PassengerId'].count()

Pclass
1     6
2    19
3    58
Name: PassengerId, dtype: int64

In [17]:
#Определить количество одиноких пассажиров (без родственников)

In [18]:
titanic.PassengerId[titanic.Parch.isnull()].count()

0

In [19]:
#Определить количество пассажиров, севших в порту Queenstow с дорогими билетами

In [20]:
titanic[titanic.Fare > titanic.Fare.median()].groupby(['Embarked'])['PassengerId'].count()

Embarked
C    116
Q     20
S    306
Name: PassengerId, dtype: int64

In [21]:
#Определить средний возраст пассажиров женского пола.

In [22]:

titanic.groupby(['Sex'])['Age'].median()

Sex
female    27.0
male      29.0
Name: Age, dtype: float64

In [23]:
#Определить количество одиноких пожилых людей.

In [24]:
titanic.PassengerId[t.Age > 65].count()

8

In [25]:
 #Вывести статистику по детях.

In [32]:
import matplotlib.pyplot as plt

In [ ]:
titanic.pivot_table(t[t.Age < 16], 'Embarked', 'Age', 'count').plot(kind='bar', stacked=True)

In [ ]:
#Вывести среднюю цену билета для каждого порта.

In [42]:
print(titanic.groupby(['Embarked'])['Fare'].median())

Embarked
C    29.70
Q     7.75
S    13.00
Name: Fare, dtype: float64

In [ ]:
 #Вывести среднюю цену билета для каждого социального класса.

In [ ]:
print(titanic.groupby(['Pclass'])['Fare'].median())